# Core ML and Data Libraries (pip will now find the GPU versions)
torch
torchvision
torchaudio
numpy
Pillow
einops
timm
ema-pytorch
accelerate
denoising-diffusion-pytorch

# Video and File Handling
opencv-python
pyyaml

# Utilities
tqdm
matplotlib